body {
  font-family: 'Raleway', sans-serif;
  width: 99%;
  margin: 0 auto;

}
html {
  background-color : #262629;
  color: white;
  letter-spacing: .5px;
}
header {
  background-color : #303133;
  height: 40px;
}
th,td {
  background-color: #303133;
  padding: 5px;
  text-align: center;
}
table {
  display: table;
  margin: auto;
}
#projects-header {
  display:table;
  margin: auto;
  margin-top: 50px;
}
a {
  border-color: black;
  color: hotpink;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
div > a {
  font-size: medium;
}
.active-tab {
  background : black;
}
a:hover {
  color: #39ff14;
  background-color: black;
}
nav > a {
    padding: 10px;
}
#project-page-text {
  display: table;
  vertical-align: middle;
  text-align: center;
  margin:auto;
  margin-top: 50px;
  height: 400px;
  width: 70%;
}
#about-text{
  display:grid;

}
li {
  margin-bottom: 20px;
  font-size: large;
}
.about-grid {
    margin:auto;
    width: 70%;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 8px;
}
.about-grid-text {
  margin:auto;
  font-size: 20pt;
  text-align: center;
}
.about-grid-img {
  border-radius: 15%;
  margin:auto;
  height:200px;
  width: auto;
}
#homepage-top-div {
  background-color: #303133;
    width: 85%;
    height: 270px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 15px;
}
#headshot {
  border-radius: 50%;
  width: 200px;
  height: auto;
}
.index-elements {
  width:25%;
  height: auto;
}
#landing-page-text {
  height: 60px;
  width:120px;
  text-align: center;
  margin-top: 60px;
  margin-left: 50px;
}
#contact-info {
  background-color: #303133;
  width: 200px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-right:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#resume-download {
  text-align: center;
}