body {
  font-family: 'Raleway', sans-serif;
}
html {
  background-color : #262629;
  color: white;
}
header {
  background-color : #303133;
}
a {
  border-color: black;
  color: hotpink;
  font-size: 28px;
}
a:hover {
  color: #39ff14;
  background-color: black;
}
nav > a {
    padding: 10px;
}
#headshot {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
}