body {
  font-family: 'Raleway', sans-serif;
  width: 99%;
  margin: 0 auto;

}
html {
  background-color : #262629;
  color: white;
  letter-spacing: .5px;
}
header {
  background-color : #303133;
  height: 40px;
}
th,td {
  background-color: #303133;
  padding: 5px;
  text-align: center;
}
table {
  display: table;
  margin: auto;
}
#projects-header {
  display:table;
  margin: auto;
  margin-top: 50px;
}
a {
  border-color: black;
  color: hotpink;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}
div > a {
  font-size: medium;
}
#contact-info {
  position: relative;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  margin: auto;
  background-color: #303133;

}
.active-tab {
  background : black;
}
a:hover {
  color: #39ff14;
  background-color: black;
}
#homepage-top-div {

}
nav > a {
    padding: 10px;
}
#headshot {
  position: relative;
  margin-top: 5%;
  left: 5%;
  border-radius: 50%;
  max-width: 25%;
  height: auto;
}
#landing-text {
  display:table;
  margin: auto;
  position: relative;
  top: 10%;

}
#project-page-text,#about-text {
  display: table;
  vertical-align: middle;
  text-align: center;
  margin:auto;
  margin-top: 50px;
  height: 400px;
  width: 400px;
}
